:root {
  --primary-color: #3c3c3c;
  --secondary-color: #ffffff;
  --highlight-color: #6366f1;
  --border-radius-base: 8px;
}
* {
  font-family: "Rubik", sans-serif;
}
section {
  min-height: 100vh;
}

nav {
  background-color: #ededed80;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 14px 63px;
  box-shadow: 0px 4px 4px 0px #00000025;

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.title {
  color: var(--secondary-color);
  font-size: 3.8rem;
  text-transform: uppercase;
}

#navBarLinks {
  display: flex;

  li {
    padding-left: 73px;
  }
  li:last-child {
    font-weight: bold;
  }
}

#homeSection {
  background-color: #0d1117;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;

  #homePhoto {
    width: 40vw;
    height: 100vh - 65px;
    background-image: url(assets/photos/photo_home.jpg);
    background-size: cover;
    background-position: center;
  }

  #homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

    h2 {
      color: #c9d1d9;
      font-weight: 400;
      font-size: 2.4rem;
      padding: 24px 0 64px 0;
    }
  }
}

#aboutSection {
  background-color: #8b949e;
  display: flex;

  #aboutMeTextsFlexContainer {
    width: 60vw;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    #aboutMeTextsFlexItem {
      display: flex;
      flex-direction: column;
      text-align: justify;
      width: 80%;
    }
  }

  #aboutMePhoto {
    background-image: url("assets/photos/about.jpg");
    width: 40vw;
    background-size: cover;
    background-position: center;
  }

  p {
    font-size: 1.75rem;
    color: var(--secondary-color);
    padding: 45px 0 56px 0;
  }
}

#skillsSection {
  background-image: url("assets/photos/section_skills.jpg");
  background-size: cover;

  .overlay {
    height: 100vh;
    width: 100%;
    background-color: #ffffff70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.93rem;

    h1 {
      color: var(--primary-color);
      padding-bottom: 68px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 800px;
      gap: 27px;
      padding-bottom: 164px;
    }

    li {
      background-color: #00000039;
      padding: 12px 17px;
      border-radius: var(--border-radius-base);
      color: var(--secondary-color);
    }
  }
}

#projectSection {
  background-color: #0d1117;

  h1 {
    padding-top: 80px;
    display: flex;
    margin-bottom: 200px;
    padding-left: 200px;
  }

  .allProjects {
    z-index: 1;
    display: flex;
    color: var(--secondary-color);
    gap: 57px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 0 65px 30px 0;
    padding-left: 100px;
  }
}

#projectTexts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  overflow-x: auto;
  padding: 2rem;
  scroll-behavior: smooth;
}

.cardProject {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 24px;
  width: 500px;
  border: 6px solid #3c3c3c;
  min-width: 280px;
  align-items: flex-start;

  h2 {
    color: #c9d1d9;
    font-weight: 400;
    font-size: 2.4rem;
    padding: 59px 0 28px 47px;
  }

  p {
    line-height: 1.8rem;
    padding: 0 47px 50px 48px;
  }
}

.downloadButtoGithub {
  display: flex;

  background-color: var(--highlight-color);

  margin-left: 50px;
  width: 205px;
  height: 47px;
  border-radius: 24px;
  justify-content: flex-start;
}

.btn-footer {
  display: flex;
  margin-top: auto;
}

#contactSection {
  background-color: #64748b;
  display: flex;

  #contactTexts {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding-bottom: 60px;
      text-decoration: underline;
    }

    p {
      color: var(--secondary-color);
      font-size: 1.56rem;
    }
  }

  #contactTextsChild {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
  }

  #contactPhoto {
    background-image: url("/assets/photos/section_skills.jpg");
    width: 40vw;
    background-size: cover;
  }
}

.defaultButton {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 14px;
  color: var(--secondary-color);
  border-radius: var(--border-radius-base);
  cursor: pointer;
  a {
    padding-left: 11px;
    color: var(--secondary-color);
    text-decoration: none;
  }
}

.downloadButton {
  background-color: var(--highlight-color);

  a {
    padding-left: 11px;
    color: var(--secondary-color);
    text-decoration: none;
  }
}
.downloadButtonLight {
  background-color: var(--highlight-color);
}
.downloadButtonDark {
  background-color: var(--primary-color);
}
.linkedinButton {
  background-color: #9ea1a3;
  padding: 14px;
}
.customLineHeight {
  line-height: 2.4rem;
}

.emailAndPhone {
  padding-top: 40px;
  font-style: normal;
  padding-bottom: 100px;

  .contactItem {
    display: flex;
    padding-top: 12px;

    p {
      padding-left: 14px;
    }
    .emailIcon {
      width: 32px;
    }
  }
}
.socialMedia {
  display: flex;
  gap: 1rem;
  cursor: pointer;

  a {
    background-color: #00000025;
    padding: 12px;
    border-radius: var(--border-radius-base);
  }

  img {
    height: 28px;
  }
}

@media (orientation: portrait) {
  .title {
    font-size: 2.6rem;
  }
  #homeSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 1.71rem;
    }

    #homePhoto {
      height: 30vh;
      width: 30vh;
      border-radius: 50%;
      margin-bottom: 3.8rem;
    }
    #homeTexts {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #aboutMePhoto {
    display: none;
  }
  #aboutSection {
    #aboutMeTextsFlexContainer {
      align-items: center;
      width: 100vw;
      #aboutMeTextsFlexItem {
        align-items: center;
      }
    }
  }

  #projectSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      text-align: justify;
    }

    cardProject {
      width: 100vw;
    }
  }

  #contactSection {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.5rem;

    h1 {
      text-align: center;
    }

    #contactTextsChild {
      align-items: center;
    }

    #contactTexts {
      width: 100vw;
    }

    #contactPhoto {
      height: 30vh;
      width: 30vh;
      border-radius: 50%;
      margin-bottom: 3.8rem;
    }
    p {
      text-align: justify;
    }

    .contactItem:last-child {
      img {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

@media (max-width: 750px) {
  nav {
    display: none;
  }
}
